<!-- submit information to login method  -->
<form (ngSubmit)="login()" #loginForm="ngForm">
  <!-- template variable: #loginform, Angular automatically creates and attaches an NgForm directive(angular add functionality) to the <form> tag.     -->
  <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
    <div class="form-group">
      <label for="lblemail">Email address</label>
      <input type="email" class="form-control" name="userName" [(ngModel)]="userLogin.email" id="email"
        aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="lblPassword">Password</label>
      <input type="password" class="form-control" [(ngModel)]="userLogin.password" name="password" id="password"
        placeholder="Password">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>